body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1091px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:1235px;
  width:690px;
  height:308px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:308px;
}
#u1 {
  position:absolute;
  left:2px;
  top:146px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:160px;
  width:1002px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:603px;
  top:167px;
  width:450px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:161px;
  width:119px;
  height:29px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:29px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:1216px;
  width:68px;
  height:16px;
  color:#C81340;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:33px;
  top:1244px;
  width:122px;
  height:247px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:247px;
}
#u11 {
  position:absolute;
  left:2px;
  top:116px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:206px;
  top:1244px;
  width:137px;
  height:242px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:242px;
}
#u13 {
  position:absolute;
  left:2px;
  top:113px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:393px;
  top:1244px;
  width:124px;
  height:235px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:235px;
}
#u15 {
  position:absolute;
  left:2px;
  top:110px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:568px;
  top:1244px;
  width:122px;
  height:247px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:247px;
}
#u17 {
  position:absolute;
  left:2px;
  top:116px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:1553px;
  width:786px;
  height:170px;
  line-height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:170px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:-24px;
  top:1687px;
  width:1141px;
  height:145px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:145px;
}
#u21 {
  position:absolute;
  left:2px;
  top:64px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:15px;
  top:602px;
  width:335px;
  height:270px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:270px;
}
#u23 {
  position:absolute;
  left:2px;
  top:127px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:362px;
  top:611px;
  width:447px;
  height:178px;
  font-size:14px;
  line-height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:178px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:11px;
  top:248px;
  width:749px;
  height:344px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:344px;
}
#u27 {
  position:absolute;
  left:2px;
  top:164px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:14px;
  top:208px;
  width:526px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C81340;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:350px;
  top:606px;
  width:1px;
  height:256px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:256px;
}
#u31 {
  position:absolute;
  left:2px;
  top:120px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:362px;
  top:795px;
  width:243px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C81340;
  line-height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:56px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:18px;
  top:882px;
  width:729px;
  height:320px;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:320px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:770px;
  top:248px;
  width:292px;
  height:317px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:317px;
}
#u37 {
  position:absolute;
  left:2px;
  top:150px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:774px;
  top:601px;
  width:288px;
  height:385px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:385px;
}
#u39 {
  position:absolute;
  left:2px;
  top:184px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:788px;
  top:625px;
  width:51px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:788px;
  top:695px;
  width:51px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:788px;
  top:769px;
  width:51px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:788px;
  top:839px;
  width:51px;
  height:50px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:788px;
  top:909px;
  width:51px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:858px;
  top:625px;
  width:183px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:858px;
  top:695px;
  width:183px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:858px;
  top:769px;
  width:183px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:858px;
  top:839px;
  width:183px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:858px;
  top:909px;
  width:183px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:774px;
  top:575px;
  width:90px;
  height:26px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u61 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:866px;
  top:575px;
  width:90px;
  height:26px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u63 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:15px;
  top:2135px;
  width:977px;
  height:536px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:536px;
}
#u65 {
  position:absolute;
  left:2px;
  top:260px;
  width:973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:57px;
  top:2262px;
  width:156px;
  height:62px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:62px;
}
#u67 {
  position:absolute;
  left:2px;
  top:23px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:466px;
  top:2354px;
  width:78px;
  height:250px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:250px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:574px;
  top:2354px;
  width:92px;
  height:250px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:250px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:695px;
  top:2354px;
  width:120px;
  height:250px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:250px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:353px;
  top:2354px;
  width:70px;
  height:250px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:250px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:-102px;
  top:2627px;
  width:1295px;
  height:52px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:52px;
}
#u77 {
  position:absolute;
  left:2px;
  top:18px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:5px;
  top:1848px;
  width:998px;
  height:293px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:293px;
}
#u79 {
  position:absolute;
  left:2px;
  top:138px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:960px;
  top:14px;
  width:30px;
  height:20px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81 {
  position:absolute;
  left:860px;
  top:84px;
  width:130px;
  height:22px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:960px;
  top:85px;
  width:30px;
  height:20px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:864px;
  top:16px;
  width:50px;
  height:18px;
  color:#666666;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:800px;
  top:15px;
  width:57px;
  height:18px;
  color:#666666;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:960px;
  top:14px;
  width:30px;
  height:20px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u88 {
  position:absolute;
  left:860px;
  top:84px;
  width:130px;
  height:22px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89 {
  position:absolute;
  left:960px;
  top:85px;
  width:30px;
  height:20px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u90 {
  position:absolute;
  left:4px;
  top:37px;
  width:216px;
  height:86px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:86px;
}
#u91 {
  position:absolute;
  left:2px;
  top:35px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:960px;
  top:14px;
  width:30px;
  height:20px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u93 {
  position:absolute;
  left:860px;
  top:84px;
  width:130px;
  height:22px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u94 {
  position:absolute;
  left:960px;
  top:85px;
  width:30px;
  height:20px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u95 {
  position:absolute;
  left:692px;
  top:15px;
  width:97px;
  height:18px;
  color:#FFCC33;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:227px;
  top:77px;
  width:520px;
  height:30px;
}
#u97_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:526px;
  height:36px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:35px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:130px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:242px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:390px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:84px;
  visibility:hidden;
}
#u107_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:90px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:89px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:28px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:56px;
  width:100px;
  height:28px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:130px;
  top:30px;
  width:100px;
  height:147px;
  visibility:hidden;
}
#u115_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:153px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:152px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:28px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:56px;
  width:100px;
  height:28px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:84px;
  width:100px;
  height:28px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u124 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:112px;
  width:100px;
  height:35px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:907px;
  top:16px;
  width:46px;
  height:18px;
  color:#666666;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
