body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:710px;
  top:580px;
  width:292px;
  height:317px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:317px;
}
#u1 {
  position:absolute;
  left:2px;
  top:150px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:714px;
  top:944px;
  width:288px;
  height:385px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:385px;
}
#u3 {
  position:absolute;
  left:2px;
  top:184px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:728px;
  top:968px;
  width:51px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:728px;
  top:1038px;
  width:51px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:728px;
  top:1112px;
  width:51px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:728px;
  top:1182px;
  width:51px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:728px;
  top:1252px;
  width:51px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:798px;
  top:968px;
  width:183px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:798px;
  top:1038px;
  width:183px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:798px;
  top:1112px;
  width:183px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:798px;
  top:1182px;
  width:183px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:798px;
  top:1252px;
  width:183px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:714px;
  top:918px;
  width:90px;
  height:26px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u25 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:806px;
  top:918px;
  width:90px;
  height:26px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:160px;
  width:1002px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:546px;
  top:165px;
  width:450px;
  height:26px;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:26px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-31px;
  top:1712px;
  width:1141px;
  height:145px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:145px;
}
#u33 {
  position:absolute;
  left:2px;
  top:64px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:160px;
  width:1002px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:546px;
  top:165px;
  width:450px;
  height:26px;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:26px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:360px;
  top:586px;
  width:330px;
  height:270px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:270px;
}
#u39 {
  position:absolute;
  left:2px;
  top:127px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:359px;
  top:817px;
  width:332px;
  height:40px;
  opacity:0.8;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:374px;
  top:828px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:714px;
  top:1361px;
  width:68px;
  height:16px;
  color:#C81340;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:795px;
  top:1399px;
  width:122px;
  height:247px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:247px;
}
#u47 {
  position:absolute;
  left:2px;
  top:116px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:7px;
  top:216px;
  width:1005px;
  height:352px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:352px;
}
#u49 {
  position:absolute;
  left:2px;
  top:168px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:960px;
  top:14px;
  width:30px;
  height:20px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:860px;
  top:84px;
  width:130px;
  height:22px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:960px;
  top:85px;
  width:30px;
  height:20px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:864px;
  top:16px;
  width:50px;
  height:18px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:800px;
  top:15px;
  width:57px;
  height:18px;
  color:#666666;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:960px;
  top:14px;
  width:30px;
  height:20px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u58 {
  position:absolute;
  left:860px;
  top:84px;
  width:130px;
  height:22px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:960px;
  top:85px;
  width:30px;
  height:20px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:4px;
  top:37px;
  width:216px;
  height:86px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:86px;
}
#u61 {
  position:absolute;
  left:2px;
  top:35px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:960px;
  top:14px;
  width:30px;
  height:20px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u63 {
  position:absolute;
  left:860px;
  top:84px;
  width:130px;
  height:22px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u64 {
  position:absolute;
  left:960px;
  top:85px;
  width:30px;
  height:20px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u65 {
  position:absolute;
  left:692px;
  top:15px;
  width:97px;
  height:18px;
  color:#FFCC33;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:227px;
  top:77px;
  width:520px;
  height:30px;
}
#u67_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:526px;
  height:36px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:35px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:130px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:242px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:390px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:84px;
  visibility:hidden;
}
#u77_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:90px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:89px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:28px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:56px;
  width:100px;
  height:28px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:130px;
  top:30px;
  width:100px;
  height:147px;
  visibility:hidden;
}
#u85_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:153px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:152px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:28px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:56px;
  width:100px;
  height:28px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:84px;
  width:100px;
  height:28px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:112px;
  width:100px;
  height:35px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:907px;
  top:16px;
  width:46px;
  height:18px;
  color:#666666;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:9px;
  top:2164px;
  width:977px;
  height:536px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:536px;
}
#u100 {
  position:absolute;
  left:2px;
  top:260px;
  width:973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:51px;
  top:2291px;
  width:156px;
  height:62px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:62px;
}
#u102 {
  position:absolute;
  left:2px;
  top:23px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:460px;
  top:2383px;
  width:78px;
  height:250px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:250px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:568px;
  top:2383px;
  width:92px;
  height:250px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:250px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:689px;
  top:2383px;
  width:120px;
  height:250px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:250px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:347px;
  top:2383px;
  width:70px;
  height:250px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:250px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:-108px;
  top:2656px;
  width:1295px;
  height:52px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:52px;
}
#u112 {
  position:absolute;
  left:2px;
  top:18px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:-1px;
  top:1877px;
  width:998px;
  height:293px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:293px;
}
#u114 {
  position:absolute;
  left:2px;
  top:138px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:19px;
  top:586px;
  width:330px;
  height:270px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:270px;
}
#u116 {
  position:absolute;
  left:2px;
  top:127px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:18px;
  top:817px;
  width:332px;
  height:40px;
  opacity:0.8;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:33px;
  top:828px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:361px;
  top:877px;
  width:330px;
  height:270px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:270px;
}
#u122 {
  position:absolute;
  left:2px;
  top:127px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:360px;
  top:1108px;
  width:332px;
  height:40px;
  opacity:0.8;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:375px;
  top:1119px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:20px;
  top:877px;
  width:330px;
  height:270px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:270px;
}
#u128 {
  position:absolute;
  left:2px;
  top:127px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:19px;
  top:1108px;
  width:332px;
  height:40px;
  opacity:0.8;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:34px;
  top:1119px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
